# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Package
package/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS Frameworks - Runtime caches
ios/Frameworks/**/cache_*/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Package files
*.tgz

# For iCloud Drive
node_modules.nosync
node_modules

# Vscode
.vscode/

# CLAUDE
CLAUDE.md