//.npmignore
*
!package/**
!index.ts
!ios/**
!android/**
!assets/**
!react-native.config.js
!scripts/prepare-facetec-xcframework.sh
!soyio_rn_sdk.podspec
!README.md

ios/Frameworks-dev/**

android/build/**
android/.gradle/**
android/.idea/**
android/local.properties
